@charset "UTF-8" ;

 *{
    margin:0%;
    padding: 0%;
 }
 :root {
   --cor0:#9442EB;
   --cor1:#EB07AF;
   --cor2:#BE00EB;
   --cor3:#D265EB;
   --cor4:#4D2FEB;
   --cor5:#EB0020;
   --cor6: ;


 }
 header{
    background-image: linear-gradient(to right, var(--cor0), var(--cor3)) ;
    padding: 150px;

 }
 nav{
    background-color:var(--cor2);
    padding: 15px;
 }
 nav > a {
   padding: 15px;
   margin:15px ;
   text-decoration: none;
 }
 nav > input {
   padding: 8px;
   margin-bottom: 10px;
   width: 95vw ;
   text-align: center;
   border-radius: 30px;
   background-color: rgba(66, 66, 66, 0.473) ;
   color: white;

 }
 nav > a:hover {
   transition-duration: 0,5s;
   border-radius: 15px;

 }
 main{
   background-image: linear-gradient(to center, black, var(--cor1) );
   border-radius: 10px;
   margin:40px ;
 }
 aside > input.buttonav{
   padding: 15px;
   border-radius: 50%;
   font-size: 30px ;
   background-color: var(--cor2);
 }
 aside > a {
   text-decoration: none;

 }
 section {
    background-color:white;
    border-radius: 20px ;
 }
 div.produtos {
    background-color:rgb(255, 2, 2);
    columns:4;
    margin: 10px;
    padding: 45px ;
    height:30px ;
    width: 30px ;
    border-radius: 15px;

 }
 footer{
    background-color:black;
 }